* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
    font-size: 40px;
}

.intro {
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}

.game-card {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto 20px;
    border: 2px solid  black;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.game-card img {
    width: 220px;
    height: auto;
    flex-shrink: 0;

}

.game-card > div {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.games-list {
    list-style: none;
    padding: 0;
}

a {
color: green;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: center;

}

nav a {   

    padding: 10px 20px;
    color: white;
    background-color: darkblue;
    text-decoration: none;
    border-radius: 6px;

}

nav a:hover {
    background-color: red;
}

@media (min-width: 700px) {
    .game-card {
        flex-direction: column;
    }

    .game-card img {
        width: 100%;
    }
}








