body {
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

h1 {
    color: darkblue;
    font-size: 40px;
}

.intro {
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}

.game-card {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto 20px;
    border: 2px solid  black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.games-list{
    list-style: none;
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 10px 20px;

    color: white;
    background-color: darkblue;
    
    text-decoration: none;
}

